---
layout: default
---

<div class="home">

  <h1 class="post-header">Posts</h1>

  <ul class="post-list">
    {% assign count = 0 %}
    {% for post in site.posts %}
      {% assign count = count | plus: 1 %}
      {% if count > 3 %}
        {% break %}
      {% endif %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>


</div>
