<link rel="apple-touch-icon" sizes="180x180" href="{{site.baseurl}}/assets/logo.ico/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{site.baseurl}}/assets/logo.ico/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{site.baseurl}}/assets/logo.ico/favicon-16x16.png">
<link rel="manifest" href="{{site.baseurl}}/assets/logo.ico/site.webmanifest">
<link rel="mask-icon" href="{{site.baseurl}}/assets/logo.ico/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

<header class="site-header">
   
    <a class="site-title" href="{{ site.baseurl }}/"><img class="mainimg" src="/img/main_logo.png" alt="titleimg"></a>
    <a class="site-title-text" href="{{ site.baseurl }}/">&nbsp;&nbsp;&nbsp;&nbsp;Jay's Notes</a>
    <div>
       <nav class="site-nav">
          <a class="page-link" href="https://clarit7.github.io/about/">About</a>
          <a class="page-link" href="https://clarit7.github.io/categories/">Category</a>
          <a class="page-link" href="https://clarit7.github.io/search/">Search</a>
       </nav>
    </div>
    
{% include color-bar.html %}
</header>
