pre.highlight {
    position: relative;
 
    // copy code to clipboard
    .copy {
      color: white;
      position: absolute;
      right: 0.2rem;
      top: 0.2rem;
      opacity: 0;
 
      &:active,
      &:focus,
      &:hover {
        background: #77af9c;
        border-radius: 5%;
        opacity: 1;
      }
    }
 
    &:active .copy,
    &:focus .copy,
    &:hover .copy {
      background: #77af9c;
      border-radius: 5%;
      opacity: 1;
    }
  }