pre.highlight {
    position: relative;
 
    // copy code to clipboard
    .copy {
      color: white;
      position: absolute;
      right: 1.2rem;
      top: 1.2rem;
      opacity: 0;
 
      &:active,
      &:focus,
      &:hover {
        background: rgba(0, 0, 0, 0.7);
        opacity: 1;
      }
    }
 
    &:active .copy,
    &:focus .copy,
    &:hover .copy {
      background: rgba(0, 0, 0, 0.7);
      opacity: 1;
    }
  }