* {
    transition-duration: 0.2s;
}

body{
        max-width: 70%;
        margin: 0 auto;
    
    @include media-query($on-palm){
        max-width: 90%;
        }
}

.mainimg {
    width : 50px;
    height : auto;
    padding : 5px 5px 5px 5px;
}

.site-title-text {
    vertical-align : top;
    line-height : 200%;
    padding : 0 0 50px;
    font-size : 28px;
    font-weight : bold;
    color : #909090;
}

.site-header {
    
    margin-top: 2em;
    // Positioning context for the mobile navigation icon
    position: relative;
     @include media-query($on-palm){
        margin-top: 0.625em;
        }
}


.site-nav {
    line-height: 56px;
    display: inline-block;

}

/**
 * Page content
 */
.page-content {
    margin: 0 auto;
    max-width: 65%;
    padding: $spacing-unit 0;
    
      @include media-query($on-palm){
        max-width: 100%;
        }
}


.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;

}

.post-list .post-meta {
        float: right;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;
    h1 {
        font-size: 42px;
            @include media-query($on-laptop) {
                font-size: 36px;
    }
    }

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}



#logo {
   fill: $color-1;
    
    &:hover{
        fill: $color-2;
    } 
}

.page-link {
        margin-left: 1em;
}

.thunder{
    max-width: 100%
}

//table
table {
  margin: 15px 0;
  border-collapse: collapse;
  width: 100%;
  padding: 0; }
  table tr {
    border-top: 1px solid $grey-color;
    background-color: white;
    margin: 0;
    padding: 0; }
    table tr:nth-child(2n) {
      background-color: #f8f8f8; }
    table tr th {
      font-weight: bold;
      border: 1px solid $grey-color;
      text-align: left;
      margin: 0;
      padding: 6px 13px; }
    table tr td {
      border: 1px solid $grey-color;
      text-align: left;
      margin: 0;
      padding: 6px 13px; }
    table tr th :first-child, table tr td :first-child {
      margin: 0; }
    table tr th :last-child, table tr td :last-child {
      margin: 0; }

.bot table {
  margin: 0px 0;
  border-collapse: collapse;
  width: 100%;
  padding: 0; }
  table tr {
    border-top: 1px solid transparent;
    background-color: transparent;
    margin: 0;
    padding: 0; }
    table tr:nth-child(2n) {
      background-color: transparent; }
    table tr th {
      font-weight: bold;
      border: 1px solid transparent;
      text-align: left;
      margin: 0;
      padding: 0px 0px; }
    table tr td {
      border: 1px solid transparent;
      text-align: left;
      margin: 0;
      padding: 0px 0px; }
    table tr th :first-child, table tr td :first-child {
      margin: 0; }
    table tr th :last-child, table tr td :last-child {
      margin: 0; }


// Adding 'Contents' headline to the TOC
#markdown-toc::before {
    content: "Contents";
    font-weight: bold;
}


// Using numbers instead of bullets for listing
#markdown-toc ul {
    list-style: decimal;
}

#markdown-toc {
    border: 1px solid $color-1;
    padding: 1.5em;
    list-style: decimal;
    display: inline-block;
}



.color-bars{
    margin: 0 -1em 0 -1em;
}

.cor {
    height: 4px;
    display: inline-block;
    vertical-align: bottom;
    background-color: #2ecc71;
}

.author {
    border:none;
    box-shadow: 0 0 5px #a8a9ab;
    padding: 1em 1em 0 1em;
}    

.author-body {
}

.author-image {
    background-repeat: no-repeat;
    background-size: contain;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: inline-block;
    margin: 3px 0 0

}

.author-about {
    margin-left: 1em;
    display: inline-block;
    @include media-query($on-palm) {
         margin-left: 0em;
        display: block;
    }

}
.author-about p, .author-about h4 {
    margin: 0 0 8px;
    padding:0;
}

.cor-head {
    height: 5px;
    display: inline-block;
    background-color: #2ecc71;
}

 .more-posts tr {
    border-color: green;
}

 .more-posts {
    border: 1px solid #E5E5E5;
    padding: 15px 10px 0px 10px;
    margin: 10px 0;
    clear: both;
    display: block;
  }
  .more-posts table {
    table-layout: fixed;
    border-collapse: collapse;
    width: 100% !important;
    margin-top: 10px !important;
    display: table;
    border-spacing: 2px;
    border-color: transparent;
  }
  .more-category {
    border-bottom: 1px solid #E5E5E5 !important;
  }
  .more-category > h4 {
    line-height: 130%;
    color: #737373 !important;
    font-size: 12px;
    margin: 0;
    padding: 2px 0 6px !important;
    display: inline-block;
  }
  .more-category .more-button {
    float: right;
    color: #909090;
    font-size: 12px !important;
    vertical-align: center;
    border-collapse: collapse;
    padding: 4px 4px 0 0;
  }
  .more-posts-title {
    text-align: left;
    font-size: 12px !important;
    font-weight: normal;
    word-break: break-all;
    overflow: hidden;
    line-height: 1.5;
    padding: 0 0 0px !important;
    display: table-cell;
    vertical-align: inherit;
    border-collapse: collapse;
  }
  .more-posts-title a {
    color: #909090;
  }
  .more-posts-title a:hover {
    color: #34373e;
  }
  .more-posts-date {
    text-align: right;
    width: 80px;
    font-size: 12px;
    padding: 0 0 0px !important;
    color: #909090 !important;
    display: table-cell;
    vertical-align: inherit;
    border-collapse: collapse;
  }

// for tag cloud and archives
.tag-cloud {
  list-style: none;
  padding: 0;
  text-align: justify;
  font-size: 16px;
  li {
    display: inline-block;
    margin: 0 12px 12px 0;
  }
}
#archives {
  padding: 5px;
}
.archive-group {
  margin: 5px;
  border-top: 1px solid #ddd;
}
.archive-item {
  margin-left: 5px;
}
.post-tags {
  float: left;
}
.tag-img {
  width: 26px;
  float: left;
  margin: 0 0 0 0;
  padding: 0 5px 0 0;
}
